<!DOCTYPE html>
<html>
<head>
    <title>Survey</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Survey</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.question1.label }}
                {{ form.question1(class="form-control") }}
                {% if form.question1.errors %}
                    <ul class="errors">
                        {% for error in form.question1.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.question2.label }}
                {{ form.question2(class="form-control") }}
                {% if form.question2.errors %}
                    <ul class="errors">
                        {% for error in form.question2.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.question3.label }}
                {{ form.question3(class="form-control") }}
                {% if form.question3.errors %}
                    <ul class="errors">
                        {% for error in form.question3.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.gender.label }}
                {{ form.gender(class="form-control") }}
                {% if form.gender.errors %}
                    <ul class="errors">
                        {% for error in form.gender.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>


            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</body>
</html>
